footer {
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
  height: 150px; }

.queOfrecemos {
  color: black;
  text-align: center;
  text-transform: uppercase; }

.mapa {
  text-align: center;
  width: 1100px; }

.ubicacion {
  text-align: center; }

.iniciosSecundarios {
  text-align: center; }

.mandanos {
  text-align: center;
  margin: 50px; }

.inicios {
  text-align: center; }
